/* Základní styl */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ff1e00;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}

.track-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.track {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.track h2 {
    margin: 0 0 10px;
}

.track button {
    background-color: #ff1e00;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}

.track button:hover {
    background-color: #e60000;
}
